html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

* {
    box-sizing: border-box;
}



.src-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}



.card {
    width:100%;
    max-width: 768px;
    border-radius: 1rem;
    background-color: beige;
    padding: 1rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin-bottom: 0.5rem;

}

.card-heading{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.small-card{
	display:flex;
	height: 9rem;
	justify-content: space-between;
	align-items: center;
}

.main-plant-propertys{

}


.cardpics {
    width: 6rem;
    height: 6rem;
    border-radius: 4rem;
	margin: auto 0;
 
}

h2 {
	margin: 0;
	
    font-size: x-large;
	font-weight: 440;
}

details{
    margin: auto;
    text-align: center;
	style-type: n
}


summary {
    font-size: large;
    text-align: left;
}

li,
p {
    color: #000000;

}

ul{ 
    list-style-type: none;
    padding: 0;
  }


#settings{
    background-color: transparent;
    background-size: cover;
    height: 1.8rem;
    width: 1.8rem;
    border: none;
    border-radius: 0.9rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

#settings:hover{
    background-color: rgba(221, 221, 221, 0.459);
}

.settingsClose{
    background-image: url(symbols/close.svg);
}

.settingsOn{
    background-image: url(symbols/settings.svg);
}



.about{
    text-align: justify;
}
.amount-radios{
    text-align: left;

}
.radios{
    display: flex;
    justify-content: center;
}

#addPlantButton{
    all: unset;
    padding: 0.5rem;
    /*border: 1px solid black;*/
    border-radius:  1.5rem;
    height: 1.5rem;
    position: fixed;
    bottom: 3rem; right: 2rem;
    vertical-align: middle;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;  
    cursor: pointer;
    z-index: 1;
}

.material-icons{
    vertical-align: middle;
}



